<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:content="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:c="http://www.springframework.org/schema/c"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
 	http://www.springframework.org/schema/beans/spring-beans.xsd
 	http://www.springframework.org/schema/context
 	http://www.springframework.org/schema/context/spring-context.xsd">



	<bean class="com.prog5.rvce.Student" name="s1">
		<constructor-arg value="Shubham Nigam" />
		<constructor-arg value="101" />
	</bean> 
	
	<bean class="com.prog5.rvce.Student" name="s2">
		<constructor-arg value="Shubhanshu Arya" />
		<constructor-arg value="102" />
	</bean> 
	
		
</beans>
